<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Admin</h1>
        <div>Status do Jogo: <span th:text="${jogoStatus}"/> </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Personagens</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="jogador : ${jogadores}">
                    <td th:text="${jogador.usuario}" />
                    <td th:text="${jogador.personagem.nome}" />
                    <td th:text="${jogador.status}" />
                </tr>
            </tbody>
        </table>
        <form action="#" data-th-action="@{/edit}" data-th-object="${model}" method="post">
            <button type="submit" name="action" value="cancelar">cancelar</button>
            <button type="submit" name="action" value="reiniciar">reiniciar</button>
        </form>

    </div>
</body>
</html>