<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Seja bem vindo!</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Jogo</th>
                    <th>Status</th>
                    <th>Jogadores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Detetive</td>
                    <td th:text="${jogoStatus}" />
                    <td th:text="${jogadores}" />
                    <td><a th:href="@{/board}">Entrar</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>